<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385369266549-q3ec6c1fefh9h98a5f91mipqqotros37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385369266549-q3ec6c1fefh9h98a5f91mipqqotros37</string>
	<key>API_KEY</key>
	<string>AIzaSyBQIss1HItRu0H3Cat9p2D46EHA0HBuRPM</string>
	<key>GCM_SENDER_ID</key>
	<string>385369266549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nura.chat-app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-32d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-32d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385369266549:ios:36d011161860c9ea181b3c</string>
</dict>
</plist>